<div class="container p-4">
    <div class="row justify-content-center">
        <h1>Actualizar grupo</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form method="POST" action="/grupos/actualizar/{{grupo.idgrupo}}">
                <div class="form-group">
                    <label for="num_grupo">Número de Grupo</label>
                    <input type="text" class="form-control" name="num_grupo" id="num_grupo"
                        placeholder="Número del grupo" value="{{grupo.num_grupo}}" required />
                </div>
                <div class="form-group">
                    <label for="anio">Año</label>
                    <input type="text" class="form-control" name="anio" id="anio" placeholder="Año"
                        value="{{grupo.anio}}" required />
                </div>
                <div class="form-group">
                    <label for="ciclo">Ciclo</label>
                    <input type="text" class="form-control" name="ciclo" id="ciclo" placeholder="Ciclo"
                        value="{{grupo.ciclo}}" required />
                </div>
                <div class="form-group">
                    <label for="idmateria">Materia</label>
                    <select class="form-control" name="idmateria" id="idmateria" required>
                        <option value="0">Seleccione una materia</option>
                        {{#each materias}}
                        <option value="{{this.idmateria}}" {{#eq this.idmateria
                            ../materiaSeleccionada.idmateria}}selected{{/eq}}>
                            {{this.idmateria}} - {{this.materia}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="idprofesor">Profesor</label>
                    <select class="form-control" name="idprofesor" id="idprofesor" required>
                        <option value="0">Seleccione un profesor</option>
                        {{#each profesores}}
                        <option value="{{this.idprofesor}}" {{#eq this.idprofesor
                            ../profesorSeleccionado.idprofesor}}selected{{/eq}}>
                            {{this.idprofesor}} - {{this.nombre}} {{this.apellido}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                </div>
            </form>
            {{#if mensaje}}
            <div class="alert alert-info mt-3">
                {{mensaje}}
            </div>
            {{/if}}
        </div>
    </div>
</div>